---
layout: splash
date: 2021-10-21
header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: /assets/images/karman2.jpeg
  actions:
    - label: "GitHub"
      url: "https://github.com/tbellosta"
  #caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Aerospace engineer, Icing specialist, PhD student"
intro: 
  - excerpt: 'I am a PhD student at the Department of Aerospace Science and Technology of Politecnico di Milano, Italy. My main work focuses on the development of novel numerical methods for in-flight ice accretion. I contributed to the development of both software and methodologies for Eulerian and Lagrangian particle tracking, mesh deformation, surface reconstruction and uncertainty quantification.'
feature_row:
  - image_path: assets/images/241.png
    alt: "placeholder image 1"
    title: "Ice accretion"
    excerpt: "Numerical simulation of in-flight ice accretion and uncertainty quantification."
    url: "ice/ice-accretion/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/NACA23012alpha.png
    #image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "placeholder image 2"
    title: "Particle Tracking"
    excerpt: "Eulerian and Lagrangian one way couled particle tracking."
    url: "particles/ice/pt"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/wingCF_mesh.png
    title: "CFD"
    excerpt: "Compressible and incopressible flow simulation."
    url: "cfd/cfd/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row  %}

