---
layout: splash
date: 2021-10-21
header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: /assets/images/karman2.jpeg
  actions:
    - label: "GitHub CFD2021"
      url: "https://github.com/tbellosta/CFD2021.git"
  #caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Aerospace engineer, PhD student"
intro: 
  - excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin. Centered with `type="center"`'
feature_row:
  - image_path: assets/images/241.png
    alt: "placeholder image 1"
    title: "Ice accretion"
    excerpt: "Numerical simulation of in-flight ice accretion and uncertainty quantification."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/NACA23012alpha.png
    #image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "placeholder image 2"
    title: "Particle Tracking"
    excerpt: "Eulerian and Lagrangian one way couled particle tracking."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/wingCF_mesh.png
    title: "CFD"
    excerpt: "Compressible and incopressible flow simulation."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row  %}

